DATABASE_URL="postgresql://neondb_owner:npg_4PUqinWkd7eT@ep-wispy-butterfly-atovlp02-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your-super-secret-jwt-key"
PORT=5000
